.navigation-menu {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(270deg, #007d6e, #5eb47c);
}
.content-area-icon {
  width: 1298px;
  position: absolute;
  margin: 0 !important;
  right: -216.5px;
  bottom: -27.5px;
  height: 532.3px;
  object-fit: contain;
  z-index: 1;
}
.g8-icon6 {
  height: 50px;
  width: 50px;
  position: relative;
}
.mindfulcare7 {
  margin: 0;
  height: 38px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  white-space: nowrap;
}
.subheading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.home3 {
  font-weight: 600;
}
.about3,
.home3,
.services10 {
  height: 27px;
  position: relative;
  display: inline-block;
}
.page3 {
  position: relative;
}
.professional-growth1 {
  width: 381px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  max-width: 100%;
  font-size: var(--body1-light-size);
  font-family: var(--body1-light);
}
.see-detail10 {
  height: 30px;
  position: relative;
  font-size: var(--h6-size);
  display: inline-block;
  font-family: var(--h5);
  color: var(--txt);
  text-align: left;
  white-space: nowrap;
}
.button10,
.main-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button10 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini);
  background-color: var(--color);
  width: 221px;
  border-radius: var(--br-11xl);
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
}
.button10:hover,
.subscribe-us-container:hover {
  background-color: var(--color-chocolate);
}
.main-heading {
  width: 1598px;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 1;
}
.testimonials-section {
  height: 328px;
  width: 5px;
  position: relative;
  background-color: var(--txt);
  z-index: 1;
}
.about-us5 {
  margin: 0;
  height: 93px;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.lorem-ipsum-dolor40 {
  align-self: stretch;
  position: relative;
  font-size: var(--body1-light-size);
  font-family: var(--body1-light);
}
.footer5,
.healing-words1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer5 {
  align-self: stretch;
  gap: var(--gap-31xl);
  max-width: 100%;
  z-index: 2;
}
.healing-words1 {
  width: 1176px;
  padding: 0 var(--padding-12xs) var(--padding-8xl) 0;
  box-sizing: border-box;
  max-width: calc(100% - 25px);
}
.subscribe-us4 {
  width: 1265px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.email-field,
.hero2 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.email-field {
  width: 1599px;
  flex-direction: row;
  align-items: flex-start;
  font-size: var(--h1-size);
}
.hero2 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-61xl) var(--padding-61xl) var(--padding-127xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-67xl);
  text-align: left;
  font-size: var(--h5-size);
  color: var(--txt);
  font-family: var(--h5);
}
.privacy-policy-term-of-use-child,
.subtitle-text-icon {
  position: absolute;
  top: 0;
  left: 845px;
  width: 1904.5px;
  height: 2205.2px;
  object-fit: contain;
}
.subtitle-text-icon {
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shape {
  border-radius: var(--br-11xl);
  background: linear-gradient(
    179.75deg,
    rgba(39, 39, 39, 0.4),
    rgba(0, 0, 0, 0.8)
  );
}
.header-child,
.image-container,
.shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header-child {
  top: 225px;
  left: 550px;
  width: 100px;
  height: 100px;
  z-index: 3;
}
.header1 {
  position: absolute;
  top: 595px;
  left: 0;
  width: 1200px;
  height: 550px;
}
.privacy-policy-term-of-use1 {
  width: 2750px;
  height: 2205px;
  position: absolute;
  margin: 0 !important;
  right: -1190px;
  bottom: 1522px;
}
.mask-group-icon36 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.counseling,
.mental {
  margin: 0;
}
.mental-counseling5 {
  margin: 0;
  height: 148px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.blank-line2,
.lorem-ipsum-dolor41,
.phasellus-ac-augue2 {
  margin: 0;
}
.lorem-ipsum-dolor-container5 {
  width: 891px;
  position: relative;
  font-size: var(--body1-light-size);
  font-family: var(--body1-light);
  color: var(--color-black);
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.inner-box,
.input-field {
  display: flex;
  max-width: 100%;
}
.input-field {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.inner-box {
  width: 1636px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: left;
  font-size: var(--h2-size);
  color: var(--txt1);
  font-family: var(--h5);
}
.mental-counseling-method {
  margin: 0;
  height: 74px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.content-box-child {
  width: 798px;
  height: 498px;
  position: relative;
  border-radius: var(--br-11xl);
  background: linear-gradient(270deg, #007d6e, #5eb47c);
  display: none;
  max-width: 100%;
}
.psychologist-icon2 {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.psychoanalytic-therapy {
  margin: 0;
  width: 429px;
  height: 48px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.lorem-ipsum-dolor42 {
  align-self: stretch;
  position: relative;
  font-size: var(--body1-light-size);
  font-family: var(--body1-light);
  z-index: 1;
}
.content-box,
.description-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.description-text {
  width: 573px;
  gap: var(--gap-xl);
}
.content-box {
  flex: 1;
  border-radius: var(--br-11xl);
  background: linear-gradient(270deg, #007d6e, #5eb47c);
  padding: var(--padding-55xl) var(--padding-2xl) var(--padding-56xl)
    var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-31xl);
  min-width: 519px;
}
.psychological-help-icon {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.mindfulness-based-therapy {
  margin: 0;
  height: 48px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.lorem-ipsum-dolor43 {
  align-self: stretch;
  position: relative;
  font-size: var(--body1-light-size);
  font-family: var(--body1-light);
  color: var(--color-black);
}
.header-group3 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-xl);
}
.call-button,
.header-group3,
.symbol-set {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.call-button {
  width: 573px;
  flex-direction: column;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-31xl);
  min-width: 573px;
  color: var(--txt1);
}
.symbol-set {
  width: 1483px;
  flex-direction: row;
  gap: 112px;
}
.inner-dialogue-icon {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.cognitive-behavioral-therapy {
  margin: 0;
  height: 48px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.lorem-ipsum-dolor44 {
  align-self: stretch;
  position: relative;
  font-size: var(--body1-light-size);
  font-family: var(--body1-light);
}
.image-placeholder {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-xl);
}
.group-frame1,
.heading-text,
.image-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.heading-text {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-31xl);
}
.group-frame1 {
  width: 573px;
  align-items: flex-start;
  padding: 13px 0 0;
  box-sizing: border-box;
  min-width: 573px;
}
.text-container-child {
  width: 798px;
  height: 498px;
  position: relative;
  border-radius: var(--br-11xl);
  background: linear-gradient(270deg, #007d6e, #5eb47c);
  display: none;
  max-width: 100%;
}
.meditation-icon {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.humanistic-therapy {
  margin: 0;
  width: 429px;
  height: 48px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.lorem-ipsum-dolor45 {
  align-self: stretch;
  position: relative;
  font-size: var(--body1-light-size);
  font-family: var(--body1-light);
  z-index: 1;
}
.breaking-stigma-frame,
.text-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.breaking-stigma-frame {
  width: 573px;
  gap: var(--gap-xl);
}
.text-container1 {
  flex: 1;
  border-radius: var(--br-11xl);
  background: linear-gradient(270deg, #007d6e, #5eb47c);
  padding: var(--padding-55xl) var(--padding-2xl) var(--padding-56xl)
    var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-31xl);
  min-width: 519px;
  color: var(--txt);
}
.main-content,
.rectangle-shape3 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.main-content {
  width: 1484px;
  align-items: center;
  justify-content: flex-start;
  gap: 113px;
}
.rectangle-shape3 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  color: var(--txt1);
}
.direction-marker,
.service-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.direction-marker {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-31xl);
  text-align: center;
  font-size: var(--h4-size);
  color: var(--txt);
}
.service-area {
  width: 1636px;
  align-items: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: left;
  font-size: var(--h2-size);
  color: var(--txt1);
  font-family: var(--h5);
}
.healing-words-container {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(270deg, #007d6e, #5eb47c);
}
.frame-child2 {
  height: 1641.7px;
  width: 1638.3px;
  position: absolute;
  margin: 0 !important;
  top: -973px;
  right: -813.3px;
  object-fit: contain;
  z-index: 1;
}
.header-frame-icon {
  height: 509px;
  width: 1119px;
  position: relative;
  max-width: 100%;
  z-index: 1;
}
.mentor3 {
  width: 97px;
  height: 30px;
  position: relative;
  display: inline-block;
  padding-right: var(--padding-xl);
}
.introducing-experienced-consul1 {
  margin: 0;
  align-self: stretch;
  height: 148px;
  position: relative;
  font-size: var(--h2-size);
  font-weight: 700;
  font-family: inherit;
  text-align: left;
  display: inline-block;
}
.mental-health-counseling-frame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.carboncrop-growth-icon1 {
  height: 84px;
  width: 84px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.professional-growth2 {
  margin: 0;
  height: 38px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.lorem-ipsum-dolor46 {
  align-self: stretch;
  position: relative;
  font-size: var(--body1-light-size);
  font-family: var(--body1-light);
}
.imageremovebgpreview-rectangle {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 259px;
  max-width: 100%;
}
.your-email-text-input {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.material-symbolsstress-manage-icon1 {
  height: 84px;
  width: 84px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.reduced-burnout1 {
  margin: 0;
  height: 38px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.lorem-ipsum-dolor47 {
  align-self: stretch;
  position: relative;
  font-size: var(--body1-light-size);
  font-family: var(--body1-light);
}
.reduced-burnout-group,
.your-email-text-input1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.reduced-burnout-group {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xl);
  min-width: 259px;
}
.your-email-text-input1 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-21xl);
}
.join-to-our-newsletter-text {
  width: 542px;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-31xl);
  text-align: left;
  font-size: var(--h5-size);
}
.join-to-our-newsletter-text,
.professional-growth-frame,
.professional-growth-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.professional-growth-text {
  align-self: stretch;
  gap: var(--gap-61xl);
  z-index: 2;
}
.professional-growth-frame {
  width: 647px;
  min-width: 647px;
  min-height: 647px;
}
.healing-words-container-parent {
  position: absolute;
  top: 209px;
  left: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-77xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-39xl);
  max-width: 100%;
}
.image-35-removebg-preview-1-icon1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 163px;
  max-height: 100%;
  width: 725px;
  object-fit: contain;
  z-index: 3;
}
.mentor2 {
  height: 952px;
  flex: 1;
  position: relative;
  max-width: 100%;
  z-index: 1;
}
.input-field1 {
  align-self: stretch;
  height: 1582px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--h6-size);
  color: var(--txt);
  font-family: var(--h5);
}
.breaking-the-stigma1 {
  margin: 0;
  height: 74px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.lorem-ipsum-dolor48 {
  align-self: stretch;
  position: relative;
  font-size: var(--body1-light-size);
  font-family: var(--body1-light);
  color: var(--color-black);
  text-align: center;
  z-index: 1;
}
.header-frame-group {
  width: 1467px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-31xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--h2-size);
  color: var(--txt1);
  font-family: var(--h5);
}
.instance-child2,
.rectangle-frame1 {
  position: absolute;
  margin: 0 !important;
}
.rectangle-frame1 {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(270deg, #007d6e, #5eb47c);
}
.instance-child2 {
  width: 3182.5px;
  right: -1006.4px;
  bottom: -1120.5px;
  height: 1704.8px;
  object-fit: contain;
  z-index: 1;
}
.join-to-our3 {
  margin: 0;
  height: 93px;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.lorem-ipsum-dolor49 {
  align-self: stretch;
  position: relative;
  font-size: var(--body1-light-size);
  font-family: var(--body1-light);
}
.testimonials-frame1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  max-width: 100%;
}
.your-email3 {
  width: 96px;
  border: 0;
  outline: 0;
  font-family: var(--body1-light);
  font-size: var(--body1-light-size);
  background-color: transparent;
  height: 27px;
  position: relative;
  color: var(--txt);
  text-align: center;
  display: inline-block;
}
.subscribe-us5 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-31xl) 0 0 var(--br-31xl);
  border: 1px solid var(--txt);
  box-sizing: border-box;
  z-index: 1;
}
.email-field-frame {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-21xl) var(--padding-3xl);
  box-sizing: border-box;
  position: relative;
  min-width: 96px;
  max-width: 100%;
}
.subscribe-us6 {
  height: 30px;
  position: relative;
  font-size: var(--h6-size);
  display: inline-block;
  font-family: var(--h5);
  color: var(--txt);
  text-align: left;
}
.subscribe-frame,
.subscribe-us-container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.subscribe-us-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl);
  background-color: var(--color);
  width: 264px;
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 2;
}
.subscribe-frame {
  width: 1061px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
  row-gap: 20px;
  max-width: 100%;
}
.rectangle-frame-parent,
.subscribe-us-frame1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.subscribe-us-frame1 {
  width: 1155px;
  justify-content: flex-start;
  gap: var(--gap-61xl);
  z-index: 2;
}
.rectangle-frame-parent {
  align-self: stretch;
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-80xl) var(--padding-2xl) var(--padding-80xl)
    var(--padding-xl);
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: var(--h1-size);
  color: var(--txt);
  font-family: var(--h5);
}
.healing-words-testimonials3,
.testimonials3 {
  height: 30px;
  position: relative;
  display: inline-block;
}
.healing-words-testimonials3 {
  margin: 0;
  align-self: stretch;
  height: 296px;
  font-size: var(--h2-size);
  font-weight: 700;
  font-family: inherit;
}
.footer-frame,
.testimonials-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.testimonials-group {
  align-self: stretch;
  gap: var(--gap-xl);
}
.footer-frame {
  width: 499px;
  padding: var(--padding-6xl) 0 0;
  box-sizing: border-box;
  min-width: 499px;
  max-width: 100%;
}
.rectangle-parent2 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background: linear-gradient(270deg, #007d6e, #5eb47c);
}
.mask-group-icon37 {
  width: 150px;
  height: 150px;
  position: relative;
  object-fit: cover;
}
.lorem-ipsum-dolor50 {
  align-self: stretch;
  height: 162px;
  position: relative;
  display: inline-block;
}
.george-j-6 {
  position: relative;
  font-size: var(--h6-size);
  font-family: var(--h5);
  text-align: left;
}
.lorem-ipsum-frame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.rectangle-child,
.rectangle-parent-parent {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.rectangle-child {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  z-index: 1;
}
.rectangle-parent-parent {
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-46xl) var(--padding-25xl) var(--padding-49xl)
    var(--padding-24xl);
  box-sizing: border-box;
  position: relative;
  min-width: 279px;
}
.frame-child3 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.mask-group-icon38 {
  width: 150px;
  height: 150px;
  position: relative;
  object-fit: cover;
}
.lorem-ipsum-dolor51 {
  align-self: stretch;
  height: 162px;
  position: relative;
  display: inline-block;
}
.george-j-7 {
  position: relative;
  font-size: var(--h6-size);
  font-family: var(--h5);
  text-align: left;
}
.lorem-ipsum-dolor-sit-amet-con-parent3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.mask-group-parent10,
.rectangle-parent3 {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.mask-group-parent10 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  z-index: 1;
}
.rectangle-parent3 {
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-46xl) var(--padding-25xl) var(--padding-49xl)
    var(--padding-24xl);
  box-sizing: border-box;
  position: relative;
  min-width: 279px;
  color: var(--txt1);
}
.footer-frame-parent,
.masked-image-frame {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.masked-image-frame {
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-27xl);
  min-width: 589px;
  text-align: center;
  font-size: var(--body1-light-size);
  color: var(--txt);
  font-family: var(--body1-light);
}
.footer-frame-parent {
  width: 1636px;
  align-items: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-172xl);
  text-align: left;
  font-size: var(--h6-size);
  color: var(--color-black);
  font-family: var(--h5);
}
.rectangle-footer1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(270deg, #007d6e, #5eb47c);
}
.g8-icon7 {
  height: 80px;
  width: 80px;
  position: relative;
}
.mindfulcare8 {
  margin: 0;
  height: 38px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.mindfulcare-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.lorem-ipsum-dolor52 {
  align-self: stretch;
  height: 54px;
  position: relative;
  font-size: var(--body1-light-size);
  font-family: var(--body1-light);
  display: inline-block;
}
.g {
  width: 317px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.services11 {
  margin: 0;
  height: 38px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.case-management3,
.mental-counseling6,
.psychotherapy4,
.services11,
.support-groups5 {
  position: relative;
}
.privacy-policy-terms-of-use,
.testimonials4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.privacy-policy-terms-of-use {
  gap: var(--gap-mini);
  font-size: var(--body1-light-size);
  font-family: var(--body1-light);
}
.testimonials4 {
  gap: var(--gap-11xl);
}
.contact4 {
  margin: 0;
  height: 38px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.call-icon3 {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ronadomaincom-logo {
  height: 27px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.location-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.message3 {
  margin: 0;
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ronadomaincom3 {
  position: relative;
  white-space: nowrap;
}
.location-info1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.location-icon4 {
  height: 32px;
  width: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.lazyy-tower-192burn3,
.location-icon4 {
  position: relative;
}
.location-info2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.call4,
.location-info2 {
  align-self: stretch;
  gap: var(--gap-xl);
}
.call4,
.frame-contact,
.vector-separator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-contact {
  align-self: stretch;
  text-align: center;
  font-size: var(--body1-light-size);
  font-family: var(--body1-light);
}
.vector-separator {
  width: 290px;
  gap: var(--gap-11xl);
}
.links4 {
  margin: 0;
  height: 38px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.links4,
.privacy-policy3,
.term-of-use3 {
  position: relative;
}
.term-of-use3 {
  height: 27px;
  display: inline-block;
}
.maps5,
.privacy-policy-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.privacy-policy-group {
  gap: var(--gap-mini);
  font-size: var(--body1-light-size);
  font-family: var(--body1-light);
}
.maps5 {
  gap: var(--gap-11xl);
}
.maps6 {
  margin: 0;
  height: 38px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.mdilinkedin-logo-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.footer-background {
  height: 189px;
  width: 189px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.frame-contact-info {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.copyrightmindfulcareallrightre-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  flex-shrink: 0;
}
.linked-in-link {
  align-self: stretch;
  width: 151px;
  position: relative;
  max-height: 100%;
  min-height: 30px;
}
.mdilinkedin-icon3 {
  height: 30px;
  width: 30px;
  position: relative;
  border-radius: var(--br-31xl);
  overflow: hidden;
  flex-shrink: 0;
  min-height: 30px;
}
.linked-in-link-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.copyright-2023-mindfulcare3 {
  position: relative;
}
.frame-footer,
.frame-parent7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent7 {
  gap: var(--gap-11xl);
  flex-shrink: 0;
  font-size: var(--body1-light-size);
  font-family: var(--body1-light);
}
.frame-footer {
  width: 1596px;
  gap: var(--gap-41xl);
  z-index: 1;
}
.footer6,
.services-detail {
  position: relative;
  display: flex;
  align-items: center;
}
.footer6 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--h5-size);
  color: var(--txt);
  font-family: var(--h5);
}
.services-detail {
  width: 100%;
  background-color: var(--bg);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-181xl);
  letter-spacing: normal;
}
@media screen and (max-width: 1725px) {
  .hero2 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .input-field {
    flex-wrap: wrap;
  }
  .call-button {
    flex: 1;
  }
  .symbol-set {
    flex-wrap: wrap;
  }
  .group-frame1 {
    flex: 1;
  }
  .main-content {
    flex-wrap: wrap;
  }
  .subscribe-us-frame1 {
    gap: var(--gap-21xl);
  }
  .footer-frame {
    flex: 1;
  }
  .footer-frame-parent {
    flex-wrap: wrap;
    gap: var(--gap-76xl);
  }
  .frame-contact-info {
    flex-wrap: wrap;
  }
  .footer6 {
    padding-left: var(--padding-23xl);
    padding-right: var(--padding-23xl);
    box-sizing: border-box;
  }
  .services-detail {
    gap: var(--gap-81xl);
  }
}
@media screen and (max-width: 1325px) {
  .professional-growth1 {
    gap: var(--gap-6xl);
  }
  .about-us5 {
    font-size: var(--font-size-22xl);
  }
  .hero2 {
    gap: var(--gap-2xl);
  }
  .mental-counseling5 {
    font-size: var(--font-size-13xl);
  }
  .inner-box {
    gap: var(--gap-xl);
  }
  .mental-counseling-method {
    font-size: var(--font-size-13xl);
  }
  .mindfulness-based-therapy,
  .psychoanalytic-therapy {
    font-size: var(--font-size-2xl);
  }
  .symbol-set {
    gap: var(--gap-9xl);
  }
  .cognitive-behavioral-therapy,
  .humanistic-therapy {
    font-size: var(--font-size-2xl);
  }
  .main-content {
    gap: var(--gap-9xl);
  }
  .service-area {
    gap: var(--gap-xl);
  }
  .mentor3 {
    font-size: var(--body1-light-size);
  }
  .introducing-experienced-consul1 {
    font-size: var(--font-size-13xl);
  }
  .professional-growth2 {
    font-size: var(--h6-size);
  }
  .your-email-text-input {
    flex-wrap: wrap;
  }
  .reduced-burnout1 {
    font-size: var(--h6-size);
  }
  .your-email-text-input1 {
    flex-wrap: wrap;
  }
  .professional-growth-text {
    gap: var(--gap-xl);
  }
  .breaking-the-stigma1 {
    font-size: var(--font-size-13xl);
  }
  .join-to-our3 {
    font-size: var(--font-size-22xl);
  }
  .testimonials3 {
    font-size: var(--body1-light-size);
  }
  .healing-words-testimonials3 {
    font-size: var(--font-size-13xl);
  }
  .george-j-6 {
    font-size: var(--body1-light-size);
  }
  .rectangle-child {
    gap: var(--gap-6xl);
  }
  .rectangle-parent-parent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .george-j-7 {
    font-size: var(--body1-light-size);
  }
  .mask-group-parent10 {
    gap: var(--gap-6xl);
  }
  .rectangle-parent3 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .masked-image-frame {
    gap: var(--gap-4xl);
  }
  .footer-frame-parent {
    gap: var(--gap-5xl);
  }
  .contact4,
  .links4,
  .maps6,
  .mindfulcare8,
  .services11 {
    font-size: var(--h6-size);
  }
}
@media screen and (max-width: 900px) {
  .header-frame-icon {
    flex: 1;
  }
  .professional-growth-frame {
    flex: 1;
    min-height: auto;
  }
  .healing-words-container-parent {
    flex-wrap: wrap;
  }
  .mentor2 {
    min-height: 952;
  }
  .input-field1,
  .mentor2 {
    height: auto;
  }
}
@media screen and (max-width: 450px) {
  .professional-growth1 {
    display: none;
  }
  .main-heading {
    width: 1216px;
  }
  .about-us5 {
    font-size: var(--h2-size);
  }
  .footer5 {
    gap: var(--gap-6xl);
  }
  .hero2 {
    gap: var(--gap-24xl);
    padding-top: var(--padding-33xl);
    padding-bottom: var(--padding-76xl);
    box-sizing: border-box;
  }
  .mental-counseling5 {
    font-size: var(--h3-size);
  }
  .inner-box {
    gap: var(--gap-21xl);
  }
  .mental-counseling-method {
    font-size: var(--h3-size);
  }
  .psychoanalytic-therapy {
    font-size: var(--h5-size);
  }
  .content-box {
    gap: var(--gap-6xl);
    padding-top: var(--padding-29xl);
    padding-bottom: var(--padding-30xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .mindfulness-based-therapy {
    font-size: var(--h5-size);
  }
  .call-button {
    gap: var(--gap-6xl);
    min-width: 100%;
  }
  .symbol-set {
    gap: var(--gap-37xl);
  }
  .cognitive-behavioral-therapy {
    font-size: var(--h5-size);
  }
  .heading-text {
    gap: var(--gap-6xl);
  }
  .group-frame1 {
    min-width: 100%;
  }
  .humanistic-therapy {
    font-size: var(--h5-size);
  }
  .text-container1 {
    gap: var(--gap-6xl);
    padding-top: var(--padding-29xl);
    padding-bottom: var(--padding-30xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .main-content {
    gap: var(--gap-37xl);
  }
  .direction-marker {
    gap: var(--gap-6xl);
  }
  .service-area {
    gap: var(--gap-21xl);
  }
  .introducing-experienced-consul1 {
    font-size: var(--h3-size);
  }
  .your-email-text-input,
  .your-email-text-input1 {
    gap: var(--gap-xl);
  }
  .join-to-our-newsletter-text {
    gap: var(--gap-6xl);
  }
  .professional-growth-text {
    gap: var(--gap-21xl);
  }
  .professional-growth-frame {
    min-width: 100%;
  }
  .healing-words-container-parent {
    gap: var(--gap-10xl);
  }
  .breaking-the-stigma1 {
    font-size: var(--h3-size);
  }
  .header-frame-group {
    gap: var(--gap-6xl);
  }
  .join-to-our3 {
    font-size: var(--h2-size);
  }
  .testimonials-frame1 {
    gap: var(--gap-6xl);
  }
  .subscribe-us-frame1 {
    gap: var(--gap-xl);
  }
  .rectangle-frame-parent {
    padding-top: var(--padding-45xl);
    padding-bottom: var(--padding-45xl);
    box-sizing: border-box;
  }
  .healing-words-testimonials3 {
    font-size: var(--h3-size);
  }
  .footer-frame {
    min-width: 100%;
  }
  .rectangle-parent-parent,
  .rectangle-parent3 {
    padding-top: var(--padding-23xl);
    padding-bottom: var(--padding-25xl);
    box-sizing: border-box;
  }
  .masked-image-frame {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .footer-frame-parent {
    gap: var(--gap-29xl);
  }
  .frame-footer {
    gap: var(--gap-11xl);
  }
  .footer6 {
    padding: var(--padding-36xl) var(--padding-2xl);
    box-sizing: border-box;
  }
  .services-detail {
    gap: var(--gap-31xl);
  }
}
